---
title: "Demonstration of Comunica MCP SPARQL: Improving the Accuracy of AI Agents using SPARQL-based Access to Decentralized Knowledge Graphs"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Ruben Taelman', 'https://www.rubensworks.net/', 'https://www.rubensworks.net/#me' %>

{:#affiliations}
- IDLab, Ghent University – imec, Belgium
			<br />E-mail: ruben.taelman@ugent.be

<section class="context" markdown="block">
Workshop at [ESWC 2026 Call for Posters and Demos](https://2026.eswc-conferences.org/calls/poster-demo/){:rel="as:inReplyTo"}, May 10-14 2026
</section>

<%= section 'abstract' %>
</header>

<main>
  <%= section 'introduction' %>
  <%= section 'implementation' %>
  <%= section 'demonstration' %>
  <%= section 'conclusions' %>
  <%= section 'acknowledgements' %>
</main>

<footer></footer>
